!/setup-connect/dist/index.js
wait-for

*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.cache
.cache/
.dynamodb/
.env
.envrc
.env.test
.eslintcache
.fusebox/
.grunt
.lock-wscript
.node_repl_history
.npm
.nvmrc
.nyc_output
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vuepress/dist
bower_components
build/Release
coverage
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
